{% extends "base.html" %}
{% load i18n material_form %}

{% block content %}
<div class="row valign">
    <div class="{% block formclass %}col s12 m8 offset-m2 l8 offset-l2{% endblock %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title green-text text-darken-2"><strong>SISTEMA DE ACOMPANHAMENTO DA REALIDADE DO
                                                                            ESTUDANTE -
                    SARE</strong></span>
                <div class="row">
                    <div class="col s12">

                        <p>Comprovante de preenchimento de questionário sócioeconômico-cultural</p>
                        <p>Campus: <b>{{ quest.campus }}</b>                        </p>

                        <ul>
                            <li><strong>Nome:</strong> {{ quest.nome }}</li>
                            <li><strong>CPF:</strong> {{ quest.cpf }}</li>
                            <li><strong>E-mail:</strong> {{ quest.email }}</li>
                            <li><strong>Cidade:</strong> {{ quest.cidade.capitalize }}</li>
                            <hr/>
                            <li><strong>Curso:</strong> {{ quest.get_curso_display }}</li>
                            <li><strong>Matrícula:</strong> {{ quest.matricula }}</li>
                            <li><strong>Semestre/Módulo/Ano:</strong> {{ quest.sem_mod_ano }}</li>

                        </ul>
                        <p>Você deve imprimir este comprovante e anexar junto aos documentos solicitados no edital xx/2018.</p>

                        <div>
                            <p>Para acessar este comprovante, utilize o código: <strong>{{ quest.hashId }}</strong></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <a class="btn white-text green" href="/questionario/">
                    {% trans "Novo questionário" %}
                    <i class="mdi-av-repeat left"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}