{% extends "base-email.html" %}
{% load i18n material_form %}

{% block content %}
<div class="row valign">
    <div class="{% block formclass %}col s12 m8 offset-m2 l8 offset-l2{% endblock %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title green-text text-darken-2"><strong>SISTEMA DE ACOMPANHAMENTO DA REALIDADE DO
                                                                            ESTUDANTE -
                    SARE</strong></span>
                <div class="row">
                    <div class="col s12">
                        <div class="center">
                            <img src="http://pescar.ifto.edu.br/img/logo-sare.png">
                        </div>

                        <p>Comprovante de preenchimento de questionário sócioeconômico-cultural</p>
                        <p>Campus: <b>{{ quest.campus }}</b>                        </p>

                        <ul>
                            <li><strong>Nome:</strong> {{ quest.nome }}</li>
                            <li><strong>CPF:</strong> {{ quest.cpf }}</li>
                            <li><strong>E-mail:</strong> {{ quest.email }}</li>
                            <li><strong>Cidade:</strong> {{ quest.cidade.capitalize }}</li>
                            <hr/>
                            <li><strong>Curso:</strong> {{ quest.get_curso_display }}</li>
                            <li><strong>Matrícula:</strong> {{ quest.matricula }}</li>
                            <li><strong>Semestre/Módulo/Ano:</strong> {{ quest.sem_mod_ano }}</li>

                        </ul>
                        <p>Você deve verificar os documentos solicitados no <a href="http://portal.ifto.edu.br/palmas/campus-palmas/seletivos-palmas/processo-seletivo/edital-de-abertura-n-o-9-2018-selecao-de-alunos-para-o-programa-de-assistencia-estudantil">
                            edital 09/2018.</a></p>

                        <div>
                            <p>Para acessar este comprovante, <strong> <a href="http://pescar.ifto.edu.br/questionario/{{ quest.hashId }}">clique aqui </a></strong></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}