{% extends 'base_form.html' %}
{% load static %}
{% load i18n %}

{% block form_content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ wizard.form.media }}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}


        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}


        <div class="right-align">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>


{% endblock form_content %}