{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<style type="text/css">
    label{
        font-size=1rem;
    }
    .col label {
        font-size: 1rem;
    }
    .section h5 {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid black;
    }
</style>
<div class="row valign change-form">
    <div class="{% block formclass %}col s12 m8 offset-m2 l8 offset-l2{% endblock %}">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% block formtitle %}{{ form.title }}{% endblock %}</span>

                    {% csrf_token %}
                    {% form form=form layout=form.layout %}

                        {% attr form.sexo 'group' class append %}inline{% endattr %}

                        {% attr form.saude_bebida_drogas 'group' class append %}inline{% endattr %}
                        {% attr form.saude_doenca_grave 'group' class append %}inline{% endattr %}
                        {% attr form.saude_doenca_cronica 'group' class append %}inline{% endattr %}
                        {% attr form.saude_medicamento_diario 'group' class append %}inline{% endattr %}

                        {% attr form.pne_parcial_visao_audicao 'group' class append %}inline{% endattr %}
                        {% attr form.pne_def_fisica 'group' class append %}inline{% endattr %}
                        {% attr form.pne_total_visao_audicao 'group' class append %}inline{% endattr %}
                        {% attr form.pne_def_mental_leve 'group' class append %}inline{% endattr %}
                        {% attr form.pne_def_mental_grave 'group' class append %}inline{% endattr %}

                        {% attr form.psico_dificudade_concentrar 'group' class append %}inline{% endattr %}
                        {% attr form.psico_conflito_familiar 'group' class append %}inline{% endattr %}
                        {% attr form.psico_depressao 'group' class append %}inline{% endattr %}

                        {% attr form.violencia_verbal 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_urbana 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_patrimonial 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_cyberbulling 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_religiosa 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_assedio_moral 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_abandono 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_abuso_familiar 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_atentado_pudor 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_trafico_humano 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_psicologica_moral 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_fisica 'group' class append %}inline{% endattr %}
                        {% attr form.violencia_sexual 'group' class append %}inline{% endattr %}

                        {% attr form.preconceito_cultural 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_estetico 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_economico 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_religioso 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_mental 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_racial 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_genero 'group' class append %}inline{% endattr %}
                        {% attr form.preconceito_orientacao_sexual 'group' class append %}inline{% endattr %}


                    {% endform %}


                </div>
                <div class="card-action">

                    <div class="right-align">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>