<!-- <head>
    <style type="text/css">
        html, body, div, iframe {margin:0; padding:0; height:100%}
        iframe {display:block; width:100%; border:none}
    </style>
</head>
<iframe id="iframe1" src="https://docs.google.com/forms/d/e/1FAIpQLSdJAPTETjUBzfmaYbzMOxJsCJ9K4OEcEAvvpL7m_Cggfj1W3g/viewform?embedded=true" width="" height="" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
 -->

<form action="."
      target="_self"
      id="bootstrapForm"
      method="POST">
    {% csrf_token %}
    <fieldset>
        <h2>Formulário Sócioeconômico-cultural<br><small>Prezado estudante, este formulário tem por objetivo testar uma nova ferramenta para a assistência estudantil que em breve será implantada no  Ifto. Desse modo, solicitamos o preenchimento de todas as perguntas a fim de que possamos  simular o mapa de vulnerabilidades que irá direcionar as ações dos profissionais que realizam o processo de seleção do recurso do Pnaes (Programa Nacional de Assistência Estudantil) e as intervenções dos profissionais ligados a assistência estudantil aos estudantes matriculados nas diferentes modalidades dos cursos ofertados pelo Ifto.
</small></h2>
    </fieldset>


    <!-- Field type: "section" id: "2127651938" -->
    <fieldset>
        <legend for="2127651938">Dados Pessoais</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "short" id: "2026753368" -->
    <fieldset>
        <legend for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</legend>
        <div class="form-group">
            {{ form.nome.errors }}
            {{ form.nome }}
        </div>
    </fieldset>


    <!-- Field type: "short" id: "560243854" -->
    <fieldset>
        <legend for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</legend>
        <div class="form-group">
            {{ form.cpf.errors }}
            {{ form.cpf }}
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1244479770" -->
    <fieldset>
        <legend for="{{ form.sexo.id_for_label }}">{{ form.sexo.label }}</legend>
        <div class="form-group">
            <div class="radio">
                {{ form.sexo.errors }}
                {{ form.sexo }}
            </div>
        </div>
    </fieldset>


    <!-- Field type: "section" id: "1666577622" -->
    <fieldset>
        <legend for="1666577622">Área: Economia</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "short" id: "146449658" -->
    <fieldset>
        <legend for="{{ form.dependentes_RBD.id_for_label }}">{{ form.dependentes_RBD.label }}	</legend>
        <div class="form-group">
            <p class="help-block">Incluindo você, quantas pessoas moram em sua casa?	</p>
            {{ form.dependentes_RBD.errors }}
            {{ form.dependentes_RBD }}
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1172502526" -->
    <fieldset>
        <legend for="{{ form.origem_renda.id_for_label }}">{{ form.origem_renda.label }}</legend>
        <div class="form-group">
            <p class="help-block">Dessas pessoas, quantas possuem renda (seja por trabalho formal,informal, aposentadoria,etc.)?	</p>
            {{ form.origem_renda.errors }}
            {{ form.origem_renda }}
        </div>
    </fieldset>


    <!-- Field type: "short" id: "396672653" -->
    <fieldset>
        <legend for="{{ form.renda_bruta_domiciliar.id_for_label }}">{{ form.renda_bruta_domiciliar.label }}	</legend>
        <div class="form-group">
            <p class="help-block">Qual é o valor Renda Bruta Domiciliar (considere a renda total dos membros do domicilio sem os descontos)?	</p>
            {{ form.renda_bruta_domiciliar.errors }}
            {{ form.renda_bruta_domiciliar }}
        </div>
    </fieldset>


    <!-- Field type: "short" id: "332272899"
    <fieldset>
        <legend for="332272899">Dependentes da Renda Bruta Domiciliar</legend>
        <div class="form-group">
            <p class="help-block">Quantas pessoas dependem da renda bruta domiciliar? 	</p>
            <input id="1163683719" type="text" name="entry.1163683719" class="form-control" required>
        </div>
    </fieldset>
-->

    <!-- Field type: "short" id: "639749165" -->
    <fieldset>
        <legend for="{{ form.responsavel_domicilio.id_for_label }}">{{ form.responsavel_domicilio.label }}</legend>
        <div class="form-group">
            <p class="help-block">Quem é o principal responsável pela manutenção do domicílio? Qual é o vinculo de parentesco?	</p>
            {{ form.responsavel_domicilio.errors }}
            {{ form.responsavel_domicilio }}
        </div>
    </fieldset>


    <!-- Field type: "section" id: "689427536" -->
    <fieldset>
        <legend for="689427536">Área: Finanças</legend>
        <div class="form-group">
        </div>
    </fieldset>


     <!-- Field type: "choices" id: "1411295753" -->
    <fieldset>
        <legend for="{{ form.renda_per_capita.id_for_label }}">{{ form.renda_per_capita.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.renda_per_capita.errors }}
                    {{ form.renda_per_capita }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "362496415" -->
    <fieldset>
        <legend for="362496415">Dependência Financeira</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1458085573" -->
    <fieldset>
        <legend for="{{ form.relacao_financeira.id_for_label }}">{{ form.relacao_financeira.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.relacao_financeira.errors }}
                    {{ form.relacao_financeira }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "1329057929" -->
    <fieldset>
        <legend for="1329057929">Despesas e Gastos</legend>
        <div class="form-group">
            <p class="help-block">Informe os valores referentes às depesas e gastos à seguir</p>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1972590190" -->
    <fieldset>
        <legend for="1972590190">Saúde</legend>
        <div class="form-group">
            <div>

                    {{ form.despesas_saude_tratamento.label }}
                    {{ form.despesas_saude_tratamento }}

            </div>
            <div >

                    {{ form.despesas_saude_medicamento.label }}
                    {{ form.despesas_saude_medicamento }}

            </div>
            <div>

                    {{ form.despesas_saude_cuidador.label }}
                    {{ form.despesas_saude_cuidador }}

            </div>
            <div>

                    {{ form.despesas_saude_plano.label }}
                    {{ form.despesas_saude_plano }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1277784153" -->
    <fieldset>
        <legend for="transporte">Tranporte</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.despesas_transporte.errors}}
                    {{ form.despesas_transporte.label }}
                    {{ form.despesas_transporte }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1813560314" -->
    <fieldset>
        <legend for="1813560314">Moradia</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.despesas_moradia.label }}
                    {{ form.despesas_moradia }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "757377950" -->
    <fieldset>
        <legend for="757377950">Educação</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.despesas_educacao_superior.label }}
                    {{ form.despesas_educacao_superior }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_educacao_basico.label }}
                    {{ form.despesas_educacao_basico }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_educacao_cursinho.label }}
                    {{ form.despesas_educacao_cursinho }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_educacao_capacitacao.label }}
                    {{ form.despesas_educacao_capacitacao }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_educacao_material.label }}
                    {{ form.despesas_educacao_material }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1410587304" -->
    <fieldset>
        <legend for="1410587304">Bens</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.despesas_bens_fcarro.label }}
                    {{ form.despesas_bens_fcarro }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_bens_fmoto.label }}
                    {{ form.despesas_bens_fmoto }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_bens_terreno.label }}
                    {{ form.despesas_bens_terreno }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1379442497" -->
    <fieldset>
        <legend for="1379442497">Domésticas</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.despesas_domesticas_eletrica.label }}
                    {{ form.despesas_domesticas_eletrica }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_domesticas_agua.label }}
                    {{ form.despesas_domesticas_agua }}

            </div>
            <div class="checkbox">

                    {{ form.despesas_domesticas_alimentacao.label }}
                    {{ form.despesas_domesticas_alimentacao }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "section" id: "176463609" -->
    <fieldset>
        <legend for="176463609">Área: Social</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "title" id: "423765069" -->
    <fieldset>
        <legend for="423765069">Forma de acesso ao Campus</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1325433350" -->
    <fieldset>
        <legend for="{{ form.condicao_responsavel_casa.id_for_label }}">{{ form.condicao_responsavel_casa.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.condicao_responsavel_casa }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "choices" id: "199475030" -->
    <fieldset>
        <legend for="{{ form.meio_acesso_campus.id_for_label }}">{{ form.meio_acesso_campus.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.meio_acesso_campus.errors }}
                    {{ form.meio_acesso_campus }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "2066830284" -->
    <fieldset>
        <legend for="2066830284">Condições do imóvel/Moradia</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "722455264" -->
    <fieldset>
        <legend for="{{ form.condicao_moradia.id_for_label }}">{{ form.condicao_moradia.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.condicao_moradia.errors }}
                    {{ form.condicao_moradia }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1122808072" -->
    <fieldset>
        <legend for="{{ form.local_moradia.id_for_label }}">{{ form.local_moradia.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.local_moradia.errors }}
                    {{ form.local_moradia }}

            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "483563429" -->
    <fieldset>
        <legend for="{{ form.total_pessoas_casa.id_for_label }}">{{ form.total_pessoas_casa.label }}</legend>
        <div class="form-group">

            <div class="radio">

                    {{ form.total_pessoas_casa }}

            </div>


        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1002853834" -->
    <fieldset>
        <legend for="{{ form.total_comodos_casa.id_for_label }}">{{ form.total_comodos_casa.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.total_comodos_casa }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "708625174" -->
    <fieldset>
        <legend for="708625174">Distância da residência do Campus</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "2039228830" -->
    <fieldset>
        <legend for="{{ form.total_km_casa_campus.id_for_label }}">{{ form.total_km_casa_campus.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.total_km_casa_campus }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "2123557725" -->
    <fieldset>
        <legend for="2123557725">Instituição de ensino anterior</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1438363565" -->
    <fieldset>
        <legend for="{{ form.instituicao_anterior.id_for_label }}">{{ form.instituicao_anterior.label }}</legend>
        <div class="form-group">
            <div class="radio">

                    {{ form.instituicao_anterior }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "title" id: "1088415526" -->
    <fieldset>
        <legend for="1088415526">Saúde Física</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "grid" id: "307143326" -->
    <fieldset>
        <legend for="307143326">Saúde</legend>
        <div class="form-group">
            <div>
               <span>{{ form.saude_bebida_drogas.label }}
                        {{ form.saude_bebida_drogas }}
               </span>
                <span> {{ form.saude_doenca_grave.label }}
                {{ form.saude_doenca_grave }}</span>

                <span> {{ form.saude_doenca_cronica.label }}
                {{ form.saude_doenca_cronica }}</span>

                <span> {{ form.saude_medicamento_diario.label }}
                {{ form.saude_medicamento_diario }}</span>
            </div>

        </div>
    </fieldset>


    <!-- Field type: "grid" id: "1814637486" -->
    <fieldset>
        <legend for="1814637486">Necessidades Específicas</legend>
        <div class="form-group">
            <div>
                <span> {{ form.pne_def_fisica.label }}
                {{ form.pne_def_fisica }}</span>

                <span> {{ form.pne_parcial_visao_audicao.label }}
                {{ form.pne_parcial_visao_audicao }}</span>

                <span> {{ form.pne_total_visao_audicao.label }}
                {{ form.pne_total_visao_audicao }}</span>

                <span> {{ form.pne_def_mental_leve.label }}
                {{ form.pne_def_mental_leve }}</span>

                <span> {{ form.pne_def_mental_grave.label }}
                {{ form.pne_def_mental_grave }}</span>

            </div>

        </div>

    </fieldset>


    <!-- Field type: "title" id: "924880380" -->
    <fieldset>
        <legend for="924880380">Saúde Psíquica</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "grid" id: "1060121022" -->
    <fieldset>
        <legend for="1060121022">Psicológicas</legend>
        <div class="form-group">
            <div>
                <span> {{ form.psico_dificudade_concentrar.label }}
                {{ form.psico_dificudade_concentrar }}</span>

                <span> {{ form.psico_conflito_familiar.label }}
                {{ form.psico_conflito_familiar }}</span>

                <span> {{ form.psico_depressao.label }}
                {{ form.psico_depressao }}</span>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "section" id: "1181247269" -->
    <fieldset>
        <legend for="1181247269">Área: Cultura</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "866511513" -->
    <fieldset>
        <legend for="{{ form.cor_raca.id_for_label }}">{{ form.cor_raca.label }}</legend>
        <div class="form-group">
            <div class="radio">
                {{ form.cor_raca.errors }}
                {{ form.cor_raca }}
            </div>
        </div>
    </fieldset>


    <!-- Field type: "grid" id: "1119670831" -->
    <fieldset>
        <legend for="1119670831">Você sofreu ou sofre algum tipo de violência? </legend>
        <div class="form-group">
            <div>
                <span> {{ form.violencia_verbal.label }}
                {{ form.violencia_verbal }}</span>

                <span> {{ form.violencia_urbana.label }}
                {{ form.violencia_urbana }}</span>

                <span> {{ form.violencia_patrimonial.label }}
                {{ form.violencia_patrimonial }}</span>

                <span> {{ form.violencia_cyberbulling.label }}
                {{ form.violencia_cyberbulling }}</span>

                <span> {{ form.violencia_religiosa.label }}
                {{ form.violencia_religiosa }}</span>

                <span> {{ form.violencia_assedio_moral.label }}
                {{ form.violencia_assedio_moral }}</span>

                <span> {{ form.violencia_abandono.label }}
                {{ form.violencia_abandono }}</span>

                <span> {{ form.violencia_abuso_familiar.label }}
                {{ form.violencia_abuso_familiar }}</span>

                <span> {{ form.violencia_fisica.label }}
                {{ form.violencia_fisica }}</span>

                <span> {{ form.violencia_sexual.label }}
                {{ form.violencia_sexual }}</span>

            </div>
        </div>
    </fieldset>


    <!-- Field type: "grid" id: "1865384624" -->
    <fieldset>
        <legend for="1865384624">Você sofreu ou sofre algum tipo de preconceito? </legend>
        <div class="form-group">
            <div>

                <span> {{ form.preconceito_cultural.label }}
                {{ form.preconceito_cultural }}</span>

                <span> {{ form.preconceito_estetico.label }}
                {{ form.preconceito_estetico }}</span>

                <span> {{ form.preconceito_economico.label }}
                {{ form.preconceito_economico }}</span>

                <span> {{ form.preconceito_mental.label }}
                {{ form.preconceito_mental }}</span>

                <span> {{ form.preconceito_racial.label }}
                {{ form.preconceito_racial }}</span>

                <span> {{ form.preconceito_genero.label }}
                {{ form.preconceito_genero }}</span>

                <span> {{ form.preconceito_orientacao_sexual.label }}
                {{ form.preconceito_orientacao_sexual }}</span>

            </div>
        </div>
    </fieldset>


    <!-- Field type: "section" id: "748314904" -->
    <fieldset>
        <legend for="748314904">Área: Ambiental</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "1741129389" -->
    <fieldset>
        <legend for="{{ form.servicos_indisponiveis_bairro.id_for_label }}">{{ form.servicos_indisponiveis_bairro.label }}</legend>
        <div class="form-group">
            <div class="checkbox">

                    {{ form.servicos_indisponiveis_bairro }}

            </div>

        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1597595411" -->
    <fieldset>
        <legend for="{{ form.forma_descarte_lixo.id_for_label }}">{{ form.forma_descarte_lixo.label }}</legend>
        <div class="form-group">
            <div class="radio">
               {{ form.forma_descarte_lixo }}
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "804167852" -->
    <fieldset>
        <legend for="{{ form.percepcao_seguranca_bairro.id_for_label }}">{{ form.percepcao_seguranca_bairro.label }}</legend>
        <div class="form-group">
            <div class="radio">
                {{ form.percepcao_seguranca_bairro }}
            </div>
        </div>
    </fieldset>


    <!-- Field type: "checkboxes" id: "705933493" -->
    <fieldset>
        <legend for="{{ form.problemas_bairro.id_for_label }}">{{ form.problemas_bairro.label }}</legend>
        <div class="form-group">
            <div class="checkbox">
                {{ form.problemas_bairro }}
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1167854962" -->
    <fieldset>
        <legend for="{{ form.bairro.id_for_label }}">{{ form.bairro.label }}</legend>
        <div class="form-group">
            {{ form.bairro }}
        </div>
    </fieldset>


    <!-- Field type: "short" id: "422778065" -->
    <fieldset>
        <legend for="{{ form.cidade.id_for_label}}">{{ form.cidade.label }}</legend>
        <div class="form-group">
            {{ form.cidade }}
        </div>
    </fieldset>


    <!-- Field type: "section" id: "296887588" -->
    <fieldset>
        <legend for="296887588"></legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "paragraph" id: "885604795" -->
    <fieldset>
        <legend for="{{ form.fale_mais_familia.id_for_label }}">{{ form.fale_mais_familia.label }} </legend>
        <p class="help-block">
Tem idosos e/ou crianças na família. A escolaridade dos pais ou responsáveis pela manutenção da familia.
Quem é o responsável pela manutenção da casa/família.
Do que mais gosta. O que te faz feliz. O que te causa tristeza. O que faz para se divertir, etc.
</p>
        <div class="form-group">
            {{ form.fale_mais_familia }}
        </div>
    </fieldset>

    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="5348448863777500501">
    <!--
        CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
        This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
        Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
        We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->


    <input class="btn btn-primary" type="submit" value="Submit">
</form>